main.new-tweet {
  margin-top: 20px;
  padding: 20px;
}

.new-tweet label {
  display: block;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 20px;
}

.new-tweet textarea {
  width: 100%;
  resize: none;
  background-color: transparent;
  border: none;
  padding: 5px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 18px;
  border-bottom: 5px solid #545149;
}

.new-tweet textarea:focus {
  outline: none;
}

.new-tweet div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.new-tweet button {
  background-color: #4056a1;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 8px 16px;
  font-size: 18px;
  font-family: 'Bungee', cursive;
  cursor: pointer;
}

.new-tweet output {
  font-size: 18px;
  font-family: 'Bungee', cursive;
}

.new-tweet form {
  border-bottom: 1px solid #dbdbdb;
  padding-bottom: 20px;
}

.count-exceeded {
  color: red;
}
